argcomplete==3.6.2
asgiref==3.8.1
charset-normalizer==3.4.2
colorama==0.4.6
commitizen==4.6.3
decli==0.6.2
Django==5.2.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
gunicorn==23.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
prompt_toolkit==3.0.51
PyYAML==6.0.2
questionary==2.1.0
sqlparse==0.5.3
termcolor==2.5.0
tomlkit==0.13.2
wcwidth==0.2.13
