{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="mb-4 text-center">Iniciar sesión</h2>
          <form method="post" id="loginForm" novalidate>
            {% csrf_token %}
            <div class="invalid-feedback d-block">
                {{ form.non_field_errors|striptags  }}
            </div>
            <div class="mb-3">
              <label for="{{ form.username.id_for_label }}" class="form-label">Usuario</label>
              {{ form.username|add_class:"form-control" }}
              <div class="invalid-feedback d-block">
                {{ form.username.errors|striptags }}
              </div>
            </div>
            <div class="mb-3">
              <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
              {{ form.password|add_class:"form-control" }}
              <div class="invalid-feedback d-block">
                {{ form.password.errors|striptags }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
    validateFormById('loginForm');
  </script>
{% endblock %}
