{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestor de Proyectos{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/validate_form.js' %}"></script>
</head>
<body>
<div class="container mt-4">
    {% if user.is_authenticated %}
        <p class="d-flex align-items-center gap-2 flex-wrap">
            <span class="me-3 fs-5 fw-semibold text-primary">
                 <i class="bi bi-person-circle me-1"></i> Bienvenido, <strong>{{ user.username }}</strong>
            </span>

            <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-info d-flex align-items-center">
                <i class="bi bi-speedometer2 me-1"></i> Tablero
            </a>

            <a href="{% url 'project_list' %}" class="btn btn-sm btn-outline-secondary d-flex align-items-center">
                <i class="bi bi-folder2-open me-1"></i> Proyectos
            </a>

            <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-danger d-flex align-items-center">
                <i class="bi bi-box-arrow-right me-1"></i> Cerrar sesión
            </a>
        </p>
    {% else %}
        <p>
        <div class="d-flex gap-2 mb-3">
            <a href="{% url 'register' %}" class="btn btn-success btn-sm">
                <i class="bi bi-person-plus-fill"></i> Registrarse
            </a>
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">
                <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
            </a>
        </div>
        </p>
    {% endif %}

    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</div>
</body>
</html>
