{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestor de Proyectos{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/validate_form.js' %}"></script>
</head>
<body>
<div class="container mt-4">
    {% if user.is_authenticated %}
        <p>
            Bienvenido, <strong>{{ user.username }} </strong>|
            <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">
                <i class="bi bi-box-arrow-right"></i> Cerrar sesión
            </a>
            <a href="{% url 'project_list' %}" class="btn btn-outline-primary btn-sm">
                <i class="bi bi-kanban"></i> Proyectos
            </a>
        </p>
    {% else %}
        <p>
        <div class="d-flex gap-2 mb-3">
            <a href="{% url 'register' %}" class="btn btn-success btn-sm">
                <i class="bi bi-person-plus-fill"></i> Registrarse
            </a>
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">
                <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
            </a>
        </div>
        </p>
    {% endif %}

    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</div>
</body>
</html>
